<a id="projects{{id}}" class="projects" href="/projects/{{id}}">
  <div class="container">
    <div class="title">
      <h2>{{title}}</h2>
      <h2>Posted by {{user.username}} on {{format_time createdAt}}</h2>
    </div>
    <p class="body_content">{{description}}</p>
  </div>
</a>
    